@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Register</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="/">Home</a></li>
                            <li>Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- LOGIN SECTION START -->
<div class="login-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="registered-customers">
                    <h6 class="widget-title border-left mb-50">REGISTER</h6>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="login-account p-30 box-shadow">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="text" asp-for="Input.DisplayName" placeholder="Display Name" />
                            <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                            <input type="text" asp-for="Input.Email" placeholder="Email Address" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <input type="password" asp-for="Input.Password" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            <button type="submit" class="submit-btn-1 btn-hover-1">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN SECTION END -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
